body {
    background-image: url("images/system_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #870B0B;
}

.login-container .input-group {
    margin-bottom: 15px;
}

.login-container .input-group label {
    display: block;
    text-align: left;
    color: #870B0B;
    margin-bottom: 5px;
}

.login-container .input-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container .login-btn {
    background: #d9534f;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
}

.login-container .login-btn:hover {
    background: #870B0B;
}

.logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img {
    width: 200px; /* Adjust size as needed */
    height: auto;
}


.error {
    color: #d9534f; /* Red color for errors */
    background-color: rgba(255, 235, 238, 0.9); /* Light red background */
    border: 1px solid #d9534f; /* Red border */
    padding: 10px; /* Padding for better spacing */
    border-radius: 5px; /* Rounded corners */
    margin-top: 10px; /* Space above the message */
}

.success {
    color: #5cb85c; /* Green color for success messages */
    background-color: rgba(220, 255, 220, 0.9); /* Light green background */
    border: 1px solid #5cb85c; /* Green border */
    padding: 10px; /* Padding for better spacing */
    border-radius: 5px; /* Rounded corners */
    margin-top: 10px; /* Space above the message */
}
